@font-face{
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat-Medium.ttf);
}
.body{
    margin: 0;
    padding: 0;
}
.top{
    background: #F9F6F1;
    height: 800px;
}
.container{
    margin: 0 auto;
    max-width: 1110px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog{
    padding: 0;
}

.catalog_head, .catalog_list{
    list-style: none;
}
.catalog_head, .catalog_item{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #212121;
    position: relative;
    cursor: pointer;
}

.catalog_women{
    margin-left: 20px;
    margin-right: 20px;
}
.poly{
    margin-left: 5px;
}
.catalog_list{
    width: 100%;
    display: none;
    position: absolute;
}

.catalog_head:hover .catalog_list{
    display: block;
}
.link_menu:hover{
    font-size: 16px;
}
.link_diliv{
    margin-left: 35px;
    margin-right: 100px;
}
.garbage{
    margin-right: 15px;
}

.link_head, .link_menu{
    text-decoration: none;
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #212121;
}
.carousel-inner{
    margin-top: 100px;
}
.header_info{
    display: flex;
    justify-content: space-between;
    background: #F9F6F1;
    padding-top: 100px;
}
.sale_top{
    padding-top: 72px;
}
.sale_head_top{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #212121;
}
.sale_head_but{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
    color: #212121;
    text-transform: uppercase;
    margin-top: 35px;
}
.sale_shoes{
    padding-top: 38px;
}

.top_botton{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #D7B399;
    text-decoration: none;
    text-transform: uppercase;
    padding: 17px 30px;
    display: inline-block;
    margin-top: 55px;
}
.carousel{
    padding-top: 110px;
    text-align: center;
}
.carousel_botton{
    width: 40px;
    height: 7px;
    background: #CECECE;
    display: inline-block;
}
.carousel_botton:hover{
    background: #D7B399;
}
.top_botton:hover{
    background: #cfa281;
}
.carousel-indicators_li{
    background-color: #D7B399 !important;
    width: 40px !important;
    height: 7px !important;
}
.free_diliv{
    background: #212121;
}
.free_diliv_text{
    padding: 80px 0 80px 0;
}

.free{
    font-family: Montserrat-Medium, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 23px;
}
.gift{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.collection{
    display: flex;
    background: linear-gradient(to right,  #F9F6F1 50%, #F4F4F4 50%);
}
.collection_content{
    display: flex;
}
.man_collection, .women_collection{
    display: flex;
    justify-content: space-between;
}
.man_collection_text, .women_collection_text{
    padding-top: 60px;
    padding-left: 35px;
    margin-bottom: 50px;
}

.collection_text_top{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #000000;
    text-transform: uppercase;
}
.collection_text_but{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 40px;
}
.img_collection{
    align-self: flex-end;
    margin-right: 15px;
}
.collection_link{
    background: #D7B399;
    padding: 6px 30px;
    display: inline-block;
}
.collection_link:hover{
    background: #cfa281;
}
.dress_content{
    display: flex;
    flex-wrap: wrap;
}
.dress_img{
    height: 236px;
    position: relative;
}
.dress_text{
    font-family: Montserrat-Medium, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.03em;
    position: absolute;
    left: 30px;
    bottom: 24px;
}
.new_model_content{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
}
.new_model_text{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-align: center;
}
.model_item{
    display: flex;
    justify-content: space-between;
}
.all_model{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #D7B399;
    padding: 18px 35px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    margin-top: 100px;
}
.all_model:hover{
    background: #cfa281;
}
.send_mail{
    background: #212121;
}
.send_mail_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 70px 0;
}
.send_mail_text{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.send_mail_input{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #8D8D8D; 
    background: #F9F6F1;
    padding: 12px 80px 12px 20px;
    margin-right: 35px;
}
.send_mail_botton{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 40px;
    background: #D7B399;
}
.send_mail_botton:hover{
    background: #cfa281;
}
.footer_top{
    background: #212121;  
}
.footer_content{
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-between;
}
.footer_logo{
    width: 205px;
    padding-right: 130px; 
}
.footer_text{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer_web_limk_ul{
    margin-top: 20px;
    padding: 0;
}
.footer_web_link{
    font-family: Montserrat-Medium, sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    list-style-type: none;
}
.footer_list_link{
    text-decoration: none;
    color: #CBCFD4;
}
.footer_list{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
    list-style-type: none;
    margin-bottom: 10px;
    text-transform: none;
    font-weight: normal;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_bottom_text{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}
.footer_list_link:hover{
    color: #cfa281;
}

